*{
    box-sizing: border-box;

}
boddy{
    margin:0px
    font-family: sans-serif;
}

#Navbar{
    background: linear-gradient(to bottom, green, #3e6d3e)
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a{
    text-decoration: none;
    color: white;
    padding: 24px
}

#navbar{
    width: 200px;

}

#navbar #logo{
    margin-right: auto;
}

#navbar .cta-button{
    background-color: white
    color: green
    border-radius: 36px
    padding: 16px 24px:#3e6d3e
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-eight: 24px;
}

#layout{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh
}

#navbar-bottom{
    background: linear-gradient(to bottom, yellowgreen)
    olive);
    display: flex;
    justify-content; space-between;
}

#navbar-bottom a{
    text-decoration: none;
    color: white;
    padding: 12px 26px;
}

#header{
    position: sticky;
    top: 0px;
}

#footer{
    background: linear-gradient(to bottom, teal, #01482e);
    color: white;
    padding: 12px
}

#footer a{
    text-decoration: none;
    color: white;

}

#footer-columns-navbar{
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

}

#footer-navbar div{
    display:flex;
    flex-direction: column;
    
}

#footer-columns-navbar a{
    padding: 8px 0px;
}

#footer-columns-navbar a{
}