/* Drill 1 - Write your code solution below */
#d1-container
boarder: 3px soild black

/* Drill 2 - Write your code solution below */
#d2-p1 {
 boarder: 10px dotted red;
}
boarder: 10 px dashed green 


/* Drill 3 - Write your code solution below */
.d3-h2 {
    boarder-bottom: 3px soild blsck



/* Drill 4 - Write your code solution below */
#d4-navbar
background color 
boarder-bottom spx 


/* Drill 5 - Write your code solution below */
d5-div
boarder: 20px solid teal
boarder-radius 10px 


/* Drill 6 - Write your code solution below */
#d6-container
background color: lightcoral
boarder: radius 20px;
boarder-radius 20px



/* Drill 7 - Write your code solution below */
#d7-img {
    boarder-radius 5px 50px
}
